<mat-card>
  <mat-card-title> Current Environment </mat-card-title>

  <mat-form-field>
    <mat-label>Current Country</mat-label>
    <mat-select [(value)]="selectedCountry" placeholder="Alba" (selectionChange)="envChanged()">
      <mat-option *ngFor="let country of countryList" [value]="country">
        {{country}}
      </mat-option>
    </mat-select>
  </mat-form-field>
  &nbsp;&nbsp;&nbsp;&nbsp;
  <mat-form-field>
    <mat-label>Current Area</mat-label>
    <mat-select [(value)]="selectedArea" placeholder="Stadt" (selectionChange)="envChanged()">
      <mat-option *ngFor="let area of environments[selectedCountry]" [value]="area">
        {{area}}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <mat-accordion>
  <mat-expansion-panel *ngIf="currentAnimals != null && currentAnimals.length !== 0">
    <mat-expansion-panel-header>
      <mat-panel-title>
        Fauna
      </mat-panel-title>

    </mat-expansion-panel-header>
    <mat-list>
      <mat-list-item *ngFor="let animal of currentAnimals" matTooltip="{{animal.ref}}"> {{animal.name}} </mat-list-item>
    </mat-list>
  </mat-expansion-panel>
  <mat-expansion-panel *ngIf="currentPlants != null && currentPlants.length !== 0">
    <mat-expansion-panel-header>
      <mat-panel-title>
        Flora
      </mat-panel-title>
    </mat-expansion-panel-header>
    <mat-list>
      <mat-list-item *ngFor="let plant of currentPlants" matTooltip="{{plant.ref}}"> {{plant.name}} </mat-list-item>
    </mat-list>
  </mat-expansion-panel>
</mat-accordion>
