

<mat-card id="container">
  <div class="flex-item" id="date">
    Schlangenmond <br />
    07. 2T 2440 nL
  </div>
  <div class="flex-item" id="control">
    <mat-icon aria-hidden="false" aria-label="Example home icon" class="material-icons">skip_previous</mat-icon>
    <mat-icon aria-hidden="false" aria-label="Example home icon" class="material-icons">calendar_today</mat-icon>
    <mat-icon aria-hidden="false" aria-label="Example home icon" class="material-icons">skip_next</mat-icon>
  </div>
  <div class="flex-item" id="weather">
    Winter<br />
    <i-feather name="cloud"></i-feather>
    5°C
  </div>
</mat-card>
