#container {
  padding: 0;
  height: 60px;

  display: flex;
  flex-direction: row;
}

.flex-item{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0px 4px 0px 4px;
  flex: 1;
}

#weather{
  flex: 1 1 90px;
  flex-direction: row;
  height: 60px;
  display: flex;
}

#date {
  flex: 1 0 120px;
  flex-direction: column;
  height: 60px;
}

#control{
  flex: 1 1 120px;
  flex-direction: row;
  height: 60px;
}
